body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('images/Aphelios-Image.jpg');
    background-color: #222;
}

.weapon-btn{
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 20px;
}

.weapon-btn img{
    background: transparent;
}